<div class="filters">
    <div class="dropdown" id="platforms">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Platforms
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="6" id="pc" />
                    <label class="form-check-label" for="pc">PC</label>
                </div>
            </a>
            <a class="dropdown-item" href="#">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="3" id="linux" />
                    <label class="form-check-label" for="linux">Linux</label>
                </div>
            </a>
            <a class="dropdown-item" href="#">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="14" id="mac" />
                    <label class="form-check-label" for="mac">Mac</label>
                </div>
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="167" id="playstaion5" />
                    <label class="form-check-label" for="playstaion5">Playstaion 5</label>
                </div>
            </a>
            <a class="dropdown-item" href="#">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="169" id="xbox-series" />
                    <label class="form-check-label" for="xbox-series">Xbox Series X/S</label>
                </div>
            </a>
            <a class="dropdown-item" href="#">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="130" id="switch" />
                    <label class="form-check-label" for="switch">Nintendo Switch</label>
                </div>
            </a>
            <a class="dropdown-item" href="#">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="48" id="playstaion4" />
                    <label class="form-check-label" for="playstaion4">Playstaion 4</label>
                </div>
            </a>
            <a class="dropdown-item" href="#">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="49" id="xbox-one" />
                    <label class="form-check-label" for="xbox-one">Xbox One X/S</label>
                </div>
            </a>
            <a class="dropdown-item" href="#">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="41" id="wiiu" />
                    <label class="form-check-label" for="wiiu">Nintendo Wii U</label>
                </div>
            </a>
            <a class="dropdown-item" href="#">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="9" id="playstaion3" />
                    <label class="form-check-label" for="playstaion4">Playstaion 3</label>
                </div>
            </a>
            <a class="dropdown-item" href="#">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="12" id="xbox360" />
                    <label class="form-check-label" for="xbox-one">Xbox 360</label>
                </div>
            </a>
            <a class="dropdown-item" href="#">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="5" id="wii" />
                    <label class="form-check-label" for="wii">Nintendo Wii</label>
                </div>
            </a>
            <a class="dropdown-item" href="#">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="8" id="playstaion2" />
                    <label class="form-check-label" for="playstaion2">Playstaion 2</label>
                </div>
            </a>
            <a class="dropdown-item" href="#">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="11" id="xbox" />
                    <label class="form-check-label" for="xbox">Xbox</label>
                </div>
            </a>
            <a class="dropdown-item" href="#">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="21" id="gamecube" />
                    <label class="form-check-label" for="gamecube">Nintendo GameCube</label>
                </div>
            </a>
            <a class="dropdown-item" href="#">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="23" id="dreamcast" />
                    <label class="form-check-label" for="dreamcast">Sega Dreamcast</label>
                </div>
            </a>
            <a class="dropdown-item" href="#">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="7" id="playstaion" />
                    <label class="form-check-label" for="playstaion">Playstaion</label>
                </div>
            </a>
            <a class="dropdown-item" href="#">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="4" id="n64" />
                    <label class="form-check-label" for="n64">Nintendo 64</label>
                </div>
            </a>
            <a class="dropdown-item" href="#">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="29" id="genesis" />
                    <label class="form-check-label" for="genesis">Sega Genesis</label>
                </div>
            </a>
            <a class="dropdown-item" href="#">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="19" id="snes" />
                    <label class="form-check-label" for="snes">Super Nintendo</label>
                </div>
            </a>
            <a class="dropdown-item" href="#">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="4" id="nes" />
                    <label class="form-check-label" for="nes">Nintendo Entertainment System</label>
                </div>
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="37" id="3ds" />
                    <label class="form-check-label" for="3ds">Nintendo 3DS</label>
                </div>
            </a>
            <a class="dropdown-item" href="#">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="20" id="ds" />
                    <label class="form-check-label" for="ds">Nintendo DS</label>
                </div>
            </a>
            <a class="dropdown-item" href="#">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="4" id="gb-advance" />
                    <label class="form-check-label" for="gb-advance">Game Boy Advance</label>
                </div>
            </a>
            <a class="dropdown-item" href="#">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="22" id="gb-color" />
                    <label class="form-check-label" for="gb-color">Game Boy Color</label>
                </div>
            </a>
            <a class="dropdown-item" href="#">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="33" id="game-boy" />
                    <label class="form-check-label" for="game-boy">Game Boy</label>
                </div>
            </a>
            <a class="dropdown-item" href="#">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="35" id="game-gear" />
                    <label class="form-check-label" for="game-gear">Sega Game Gear</label>
                </div>
            </a>
            <a class="dropdown-item" href="#">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="46" id="vita" />
                    <label class="form-check-label" for="vita">Playstaion Vita</label>
                </div>
            </a>
            <a class="dropdown-item" href="#">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="38" id="psp" />
                    <label class="form-check-label" for="psp">Playstaion Portable</label>
                </div>
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="390" id="psvr2" />
                    <label class="form-check-label" for="psvr2">Playstaion VR2</label>
                </div>
            </a>
            <a class="dropdown-item" href="#">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="165" id="psvr" />
                    <label class="form-check-label" for="psvr">Playstaion VR</label>
                </div>
            </a>
            <a class="dropdown-item" href="#">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="386" id="oculus" />
                    <label class="form-check-label" for="oculus">Meta Quest 2</label>
                </div>
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="39" id="ios" />
                    <label class="form-check-label" for="ios">iOS</label>
                </div>
            </a>
            <a class="dropdown-item" href="#">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="34" id="android" />
                    <label class="form-check-label" for="android">Android</label>
                </div>
            </a>
        </div>
    </div>
    <div class="dropdown" id="themes">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Themes
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="1" id="action" />
                    <label class="form-check-label" for="action">Action</label>
                </div>
            </a>
            <a class="dropdown-item" href="#">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="17" id="fantasy" />
                    <label class="form-check-label" for="fantasy">Fantasy</label>
                </div>
            </a>
            <a class="dropdown-item" href="#">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="18" id="sci-fi" />
                    <label class="form-check-label" for="sci-fi">Science fiction</label>
                </div>
            </a>
            <a class="dropdown-item" href="#">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="19" id="horror" />
                    <label class="form-check-label" for="horror">Horror</label>
                </div>
            </a>
            <a class="dropdown-item" href="#">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="20" id="thriller" />
                    <label class="form-check-label" for="thriller">Thriller</label>
                </div>
            </a>
            <a class="dropdown-item" href="#">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="21" id="survival" />
                    <label class="form-check-label" for="survival">Survival</label>
                </div>
            </a>
            <a class="dropdown-item" href="#">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="22" id="historical" />
                    <label class="form-check-label" for="historical">Historical</label>
                </div>
            </a>
            <a class="dropdown-item" href="#">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="23" id="steath" />
                    <label class="form-check-label" for="steath">Steath</label>
                </div>
            </a>
            <a class="dropdown-item" href="#">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="27" id="comedy" />
                    <label class="form-check-label" for="comedy">Comedy</label>
                </div>
            </a>
            <a class="dropdown-item" href="#">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="28" id="business" />
                    <label class="form-check-label" for="business">Business</label>
                </div>
            </a>
            <a class="dropdown-item" href="#">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="31" id="drama" />
                    <label class="form-check-label" for="drama">Drama</label>
                </div>
            </a>
            <a class="dropdown-item" href="#">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="32" id="non-fiction" />
                    <label class="form-check-label" for="non-fiction">Non-fiction</label>
                </div>
            </a>
            <a class="dropdown-item" href="#">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="33" id="sandbox" />
                    <label class="form-check-label" for="sandbox">Sandbox</label>
                </div>
            </a>
            <a class="dropdown-item" href="#">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="34" id="eductional" />
                    <label class="form-check-label" for="eductional">Eductional</label>
                </div>
            </a>
            <a class="dropdown-item" href="#">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="35" id="kids" />
                    <label class="form-check-label" for="kids">Kids</label>
                </div>
            </a>
            <a class="dropdown-item" href="#">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="38" id="open-world" />
                    <label class="form-check-label" for="open-world">Open-world</label>
                </div>
            </a>
            <a class="dropdown-item" href="#">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="39" id="warfare" />
                    <label class="form-check-label" for="warfare">Warfare</label>
                </div>
            </a>
            <a class="dropdown-item" href="#">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="40" id="party" />
                    <label class="form-check-label" for="party">Party</label>
                </div>
            </a>
            <a class="dropdown-item" href="#">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="41" id="4x" />
                    <label class="form-check-label" for="4x">4X (explore, expand, exploit, and exterminate)</label>
                </div>
            </a>
            <a class="dropdown-item" href="#">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="42" id="erotic" />
                    <label class="form-check-label" for="erotic">Erotic</label>
                </div>
            </a>
            <a class="dropdown-item" href="#">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="43" id="mystery" />
                    <label class="form-check-label" for="mystery">Mystery</label>
                </div>
            </a>
            <a class="dropdown-item" href="#">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="44" id="romance" />
                    <label class="form-check-label" for="romance">Romance</label>
                </div>
            </a>
        </div>
    </div>
    <div class="dropdown" id="genres">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Genres
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="2" id="point-and-click" />
                    <label class="form-check-label" for="point-and-click">Point-and-click</label>
                </div>
            </a>
            <a class="dropdown-item" href="#">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="4" id="fighting" />
                    <label class="form-check-label" for="fighting">Fighting</label>
                </div>
            </a>
            <a class="dropdown-item" href="#">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="5" id="shooter" />
                    <label class="form-check-label" for="shooter">Shooter</label>
                </div>
            </a>
            <a class="dropdown-item" href="#">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="8" id="platform" />
                    <label class="form-check-label" for="platform">Platform</label>
                </div>
            </a>
            <a class="dropdown-item" href="#">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="9" id="puzzle" />
                    <label class="form-check-label" for="puzzle">Puzzle</label>
                </div>
            </a>
            <a class="dropdown-item" href="#">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="10" id="racing" />
                    <label class="form-check-label" for="racing">Racing</label>
                </div>
            </a>
            <a class="dropdown-item" href="#">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="11" id="rts" />
                    <label class="form-check-label" for="rts">Real Time Strategy(RTS)</label>
                </div>
            </a>
            <a class="dropdown-item" href="#">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="12" id="rpg" />
                    <label class="form-check-label" for="rpg">Role-Playing(RPG)</label>
                </div>
            </a>
            <a class="dropdown-item" href="#">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="13" id="simulator" />
                    <label class="form-check-label" for="simulator">Simulator</label>
                </div>
            </a>
            <a class="dropdown-item" href="#">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="14" id="sport" />
                    <label class="form-check-label" for="sport">Sport</label>
                </div>
            </a>
            <a class="dropdown-item" href="#">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="15" id="strategy" />
                    <label class="form-check-label" for="strategy">Strategy</label>
                </div>
            </a>
            <a class="dropdown-item" href="#">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="16" id="tbs" />
                    <label class="form-check-label" for="tbs">Turn-based Strategy(TBS)</label>
                </div>
            </a>
            <a class="dropdown-item" href="#">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="24" id="tactical" />
                    <label class="form-check-label" for="tactical">Tactical</label>
                </div>
            </a>
            <a class="dropdown-item" href="#">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="25" id="hack-slash" />
                    <label class="form-check-label" for="hack-slash">Hack and slash/Beat 'em up</label>
                </div>
            </a>
            <a class="dropdown-item" href="#">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="26" id="quiz" />
                    <label class="form-check-label" for="quiz">Quiz/Trivia</label>
                </div>
            </a>
            <a class="dropdown-item" href="#">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="30" id="pinball" />
                    <label class="form-check-label" for="pinball">Pinball</label>
                </div>
            </a>
            <a class="dropdown-item" href="#">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="31" id="adventure" />
                    <label class="form-check-label" for="adventure">Adventure</label>
                </div>
            </a>
            <a class="dropdown-item" href="#">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="32" id="indie" />
                    <label class="form-check-label" for="indie">Indie</label>
                </div>
            </a>
            <a class="dropdown-item" href="#">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="33" id="arcade" />
                    <label class="form-check-label" for="arcade">Arcade</label>
                </div>
            </a>
            <a class="dropdown-item" href="#">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="34" id="visual-novel" />
                    <label class="form-check-label" for="visual-novel">Visual Novel</label>
                </div>
            </a>
            <a class="dropdown-item" href="#">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="35" id="card-board" />
                    <label class="form-check-label" for="card-board">Card & Board Game</label>
                </div>
            </a>
            <a class="dropdown-item" href="#">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="36" id="moba" />
                    <label class="form-check-label" for="moba">MOBA</label>
                </div>
            </a>
        </div>
    </div>
    <div class="dropdown" id="game-modes">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Players
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="1" id="single" />
                    <label class="form-check-label" for="single">Single Player</label>
                </div>
            </a>
            <a class="dropdown-item" href="#">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="2" id="multiplayer" />
                    <label class="form-check-label" for="multiplayer">Multiplayer</label>
                </div>
            </a>
            <a class="dropdown-item" href="#">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="3" id="co-op" />
                    <label class="form-check-label" for="co-op">Co-operative</label>
                </div>
            </a>
            <a class="dropdown-item" href="#">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="4" id="split" />
                    <label class="form-check-label" for="split">Split Screen</label>
                </div>
            </a>
            <a class="dropdown-item" href="#">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="5" id="mmo" />
                    <label class="form-check-label" for="mmo">Massively Multiplayer Online (MMO)</label>
                </div>
            </a>
            <a class="dropdown-item" href="#">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="6" id="battle-royale" />
                    <label class="form-check-label" for="battle-royale">Battle Royale</label>
                </div>
            </a>
        </div>
    </div>
    <div class="dropdown" id="esrb-rating">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Rating
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="8" id="everyone" />
                    <label class="form-check-label" for="everyone">Everyone</label>
                </div>
            </a>
            <a class="dropdown-item" href="#">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="9" id="e10" />
                    <label class="form-check-label" for="e10">Everyone 10+</label>
                </div>
            </a>
            <a class="dropdown-item" href="#">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="10" id="teen" />
                    <label class="form-check-label" for="teen">Teen</label>
                </div>
            </a>
            <a class="dropdown-item" href="#">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="11" id="mature" />
                    <label class="form-check-label" for="mature">Mature</label>
                </div>
            </a>
            <a class="dropdown-item" href="#">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="12" id="ao" />
                    <label class="form-check-label" for="ao">Adult Only</label>
                </div>
            </a>

        </div>
    </div>
    <div class="refresh">
        <button class="btn btn-secondary" type="button" id="recommend-refresh">
            Refresh
        </button>
    </div>
</div>
